

@keyframes move{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100vw);
  }
}

.list{
  position: relative;
  display: flex;
  align-items: center;
  padding: 200px 0;
  border: 4px solid gray;
  overflow: hidden;
}

.item{
  transform: translateX(100%);
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: move 8s linear 0s forwards;
}

.controls{
  display: flex;
  justify-content: center;
}

.controls *{
  margin: 0 10px;
}



